[Unit]
Description=MitraOS Compressed ZRAM Swap Service
DefaultDependencies=no
After=local-fs.target
Before=swap.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "modprobe zram num_devices=1 && echo lz4 > /sys/block/zram0/comp_algorithm 2>/dev/null; total_mem=$(awk '/MemTotal/{print $2}' /proc/meminfo); echo $(( total_mem * 1024 )) > /sys/block/zram0/disksize && mkswap /dev/zram0 && swapon -p 32767 /dev/zram0"
ExecStop=/bin/sh -c "swapoff /dev/zram0"
RemainAfterExit=yes

[Install]
WantedBy=swap.target
