UI vesamenu.c32
PROMPT 0
TIMEOUT 50
DEFAULT mitra_desktop

MENU TITLE MitraOS V.1 (Apollo Edition) - Boot Menu
MENU COLOR border       30;44   #40ffffff #a0000000 std
MENU COLOR title        1;36;44 #ffffffff #a0000000 std
MENU COLOR sel          7;37;40 #e0ffffff #20ffffff all
MENU COLOR unsel        37;44   #50ffffff #a0000000 std
MENU COLOR help         37;40   #c0ffffff #a0000000 std

LABEL mitra_desktop
    MENU LABEL ^1. MitraOS V.1 (Apollo) - Desktop Environment (GUI Edition) [Default]
    KERNEL /boot/vmlinuz
    INITRD /boot/initrd.img
    APPEND boot=live quiet splash gui=1 mitra_desktop=1 apollo_desktop=1 mitra_live=1 apollo_live=1 ---

LABEL mitra_cli
    MENU LABEL ^2. MitraOS V.1 (Apollo) - Console Workstation (CLI & Installer)
    KERNEL /boot/vmlinuz
    INITRD /boot/initrd.img
    APPEND boot=live quiet splash mitra_cli=1 mitra_live=1 apollo_live=1 ---

LABEL mitra_installer
    MENU LABEL ^3. MitraOS Direct Installer (HDD / SSD / NVMe / MicroSD)
    KERNEL /boot/vmlinuz
    INITRD /boot/initrd.img
    APPEND boot=live mitra_install=1 apollo_install=1 ---

LABEL mitra_lowram
    MENU LABEL ^4. MitraOS Safe Graphics / Ultra-low RAM (Pentium 4)
    KERNEL /boot/vmlinuz
    INITRD /boot/initrd.img
    APPEND boot=live nomodeset vga=normal mitra_lowram=1 apollo_lowram=1 ---

LABEL reboot
    MENU LABEL ^5. Reboot System
    COM32 reboot.c32

LABEL poweroff
    MENU LABEL ^6. Power Off
    COM32 poweroff.c32
